{% extends 'base.html' %} {% load static%} {% block content %}
<link href="{% static 'CSS/style.css'%}" rel="stylesheet" />

<div class= "container">
    <p>
        Unlocking the power of technology for over two decades. Master's in Electronics, certified in CCNA, Linux, and Windows Server. Expert in Java, Python, AI, and IoT applications.
        Founder and CEO of SNT Supernet Technologies Pvt Ltd. Director of Mapstring Pvt Ltd. Proprietor of Glory Enterprises. 
        Trusted IT consultant and corporate trainer specializing in Java FS, Python, Django, React, Angular, Hadoop, Pyspark, AWS, Azure and GCP. 
        Let's revolutionize your tech journey together!
    </p>
</div>

<div class="card bg-white text-white col-lg-3 col-md-6 col-sm-12">
    <img src="{%static 'images/trainer1.jpg'%}">
    
</div>


{% endblock %}
